{% set max_stars = 10 %}
{% set max_rating = 10 %}


{% for book in books %}
	<div class="book-card">
		<div class="book-card__book-cover-box">
			<img class="book-card__book-cover" src="{{ book.cover_path }}">
		</div>
		
		<div class="book-card__info-box">
			<div class="book-card__header-box">
				<div class="book-card__info-book">
					<a class="book-card__link-book" href="{{ url_for('main.book', book_id=book.id) }}">{{ book.name }} </a>
					{% for author in book.authors %}
						<a href=# class="book-card__link-author"> {{ author.name }} </a>
					{% endfor %}		
				</div>
				
				<div class="book-card__rating">
					{{ star_rating(book.average_rating, max_stars, max_rating) | safe }}
				</div>
			</div>
			
			<div class="book-card__tag-box">
				{% for tag in book.tags %}
					<a href=# class="book-card__link-tag"> #{{ tag.name }} </a>
				{% endfor %}
			</div>
			
			<div class="book-card__book-description">
				{{ book.preamble }}
			</div>
		</div>	
	</div>
{% endfor %}
