.content {
	padding: 50px 0;
	text-align: center;
}

.auth-box {
	max-width: 1010px;
	margin: 0 auto;
	font-family: Georgia;
}

.auth-box__title {
	color: #5C3901;
	font-weight: bolder;
	font-size: 200%;
	margin-bottom: 15px;
}

.auth-box__description {
	color: #5C3901;
	font-family: Georgia;
	font-size: 110%;
	margin-bottom: 10px;
}

.auth-form__field {
	padding-bottom: 15px;
}

.auth-form__field--password {
	padding-bottom: 15px;
	margin-left: -10px;
	white-space: nowrap;
}

.auth-form__field-name-box {
	display: flex;
	justify-content: center;
}

.auth-form__field-name {
	min-width: 300px;
	text-align: left;
	font-size: 95%;
	margin-bottom: 2px;
	margin-top: -8px;
}

.auth-form__field-name-box--password {
	display: flex;
	justify-content: center;
	margin-left: 10px;
}

.auth-form__input {
	height: 25px;
	width: 300px;
	padding: 10px 20px;
	border-radius: 4px;
	font-family: Georgia;
}

.auth-form__input-icon {
	margin-left: -30px;
	cursor: pointer;
}

.auth-form__field-info {
	white-space: pre-line;
	color: #5C3901;
	font-family: Georgia;
	font-size: 80%;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height:7px
}

.auth-form__button {
	height: 25px;
	width: 150px;
	border-radius: 4px;
	font-family: Georgia;
	color: #ffe66f;
	background-color: #7B8EA8;
}

.auth-form__field--link {
	margin: -5px 10px;
}

.auth-form__link {
	font-size: smaller;
	color: #4C678a;
}

.auth-form__error-message {
	white-space: pre-line;
	color: #e2240b;
	font-family: Georgia;
	font-size: 80%;
	margin-bottom: 20px;
	margin-top: 14px;
	line-height:7px
}

.auth-form__error-message:empty {
	display: none;
}

.auth-box__field--link {
	font-size: 90%;
	padding-top: 10px;
	padding-bottom: 30px;
	color: #5C3901;
}

.auth-box__link {
	color: #4C678a;
}

.auth-box__title--alt{
	color: #5C3901
}

.socials {
	display: flex;
	justify-content: center;
}

.socials__button {
	border: 0px;
	background-color: transparent;
	margin: 0px 5px;
}

.socials__logo{
	height: 40px;
	width: 40px;
}

.socials__button-description {
	color: #515151;
}
