.inf-wrap{
	width: 100%;
}

.book-box{
	max-width:850px;
	background: #ffeccd;
	margin-top: 20px;
	border-radius: 2px;
	display: flex;
	padding: 20px;
	overflow:hidden;
}

.book-cover{
	height: 170px;
	width: 130px;
}

.book-link{
	font-size: 90%;
	padding-right: 15px;
	padding-top: 5px;
	color: #5c1b03;
}

 .stars-out {
	position: relative;
	margin-right: 0px;
	color: grey;
	z-index: 1;
}

.stars-in {
	position: absolute; 
	z-index: 2; 
	color: orange;
	font-size: inherit;
	display: block; 
	top: 0; left: 0; bottom: 0;
	overflow: hidden;
	width: 0; 
}

.stars{
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
	white-space: nowrap;
}

.book-header{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
}

.description{
	padding: 20px;
	font-size: 90%;
	text-align: justify;
}

.tags{
	padding-left: 20px;
}

.book-tag{
	color: #021C3C;
	font-size: 70%;
}

.book-box .book-title-author {
	display: flex;
	flex-direction: column;
	max-width:400px;
}

.book-box .book-author{
	font-size: 75%;
}