.header {
	background-color: #ffc86f;
	box-shadow: 0 0 15px 0 #444444;
	padding: 0 10px;
}

.header__wrap {
	max-width: 1010px;
	margin: 0 auto;
	font-family: Georgia;
}

.header__row {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header__title{
	padding: 0 5px;
	font-size: 35px;
	transform: translateY(8px);
}

.header__title-link{
	color: inherit;
}

.header__menu {
	align-items: center;
	display: flex;
}

.header__search{
	margin-right: 10px;
	white-space: nowrap;
}

.header__search-input{
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	height: 25px;
	width: 200px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -.36em;
	border-radius: 4px 0 0 4px;
	font-family: Georgia
}

.header__search-button {
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -.36em;
	border-radius: 0 4px 4px 0;
	font-family: Georgia;
	color: #ffe66f;
	background-color: #4C678a;
}

.header__dropdown-menu {
    position: relative;
    display: inline-block;
	margin-left: 5px;
	margin-right: 15px;
}

.header__dropdown-menu:hover .header__dropdown-menu-list {
	display: block;
}

.header__dropdown-menu:hover .header__dropdown-menu-button {
	background-color: #5C3A03; 
	color:#ffa717;
}

.header__dropdown-menu:hover .header__dropdown-menu-button-icon {
	color:#ffa717;
}

.header__dropdown-menu-button {
	height: 25px;
	width: 170px;
    background-color: #8A7A60;
    color: #FFEFA3;
    border-width: 3px;
	border-color: #5C3A03;
	font-family: Georgia;
	padding-left: 15px
}

.header__dropdown-menu-button-icon {
	padding-left: 20px;
	font-size: 120% !important;
	color: #5C3A03;
}

.header__dropdown-menu-list {
    display: none;
    position: absolute;
    background-color: #C4B398;
    min-width: 170px;
    z-index: 1;
}

.header__dropdown-menu-item {
    color: #5C3A03;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
	font-family: Georgia;
	border-bottom: 1px solid #5C3A03;
	border-left: 1px solid #5C3A03;
	border-right: 1px solid #5C3A03;
}

.header__dropdown-menu-item:hover {
	background-color: #8A7A60;
}

.header__icon {
	font-size: 180% !important;
	color: #5C3901;
	margin-right: 10px;
}

.header__exit-button{
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 0 5px;
	height: 25px;
	width: 80px;
	border-radius: 4px;
	font-family: Georgia;
	color: #ffa717;
	background-color: #5C3901;
}

.header__row-divide-line {
	padding: 0 5px;
	border-bottom: 1px solid #444444;
	width: 100%;
}

.header__row--next{
	align-self: flex-start;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-bottom: 5px;
}

.header__title--next{
	padding: 0 5px;
	font-size: 35px;
}
