.content {
	padding: 50px 0;
	max-width: 1010px;
	margin: 0 auto;
	font-family: Georgia;
	display: flex;
	justify-content: space-between;
}

.content-central {
	margin-left: 5px;
	margin-right: 20px;
}

.search-field__input {
	height: 25px;
	width: 850px;
}

.search-field__input::placeholder {
	color: #a0a0a0;
	padding-left: 10px;
	font-family: Georgia;
}

.search-field__button-box {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.search-field__button{
	height: 50px;
	width: 200px;
	color: #ffe66f;
	background-color: #4c678a;
	margin: 0 20px;
	border-radius: 4px;
	font-family: Georgia;
	font-size: 120%;
	border: 0;
}

.topic-box {
	padding: 35px 0;
}

.topic-box__header-box {
	background: #bbd9ff;
	border-bottom: 2px solid #5C3901;
	padding: 5px 5px;
	border-radius: 6px 6px 0px 0px;
}

.topic-box__header {
	font-size: 120%;
	color: #021C3C;
	text-shadow: #021C3C 0px 1px 1px;
}

.topic-box__content-box--genres {
	padding-top: 20px;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(6, 1fr);
}

.topic-box__link--genre {
	color: #a67424;
	padding-bottom: 10px;
	margin-left: 10px;
}

.content-right {
	background-color: #bbd9ff;
	margin-left: 20px;
	margin-right: 5px;
}

.topic-box-column--top {
	padding: 20px 30px;
	white-space: nowrap;
}

.topic-box-column__header--top {
	color: #021C3C;
	text-shadow: #021C3C 0px 1px 1px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.topic-box-column__image--top{
	padding-top: 10px;
	height: 170px;
	width: 130px;
}

.topic-box-column {
	display: flex;
    flex-direction: column;
	padding: 0px 30px;
}

.topic-box-column__header {
	color: #5C3901;
	text-shadow: #5C3901 0px 1px 1px;
	padding-bottom: 5px;
}

.topic-box-column__link {
	padding-bottom: 7px;
	padding-right: 0px;
	color: #a67424;
	font-size: 90%;
}

.topic-box-column--authors {
	display: flex;
    flex-direction: column;
	padding: 0px 30px;
	margin-top: 20px;
}

a {
	text-decoration: none;
}
