body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffe3b4;
		
}

input {
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
}

.wrap {
	max-width: 1010px;
	margin: 0 auto;
	font-family: Georgia;
}

.header {
	background-color: #ffc86f;
	box-shadow: 0 0 15px 0 #444444;
}

.header-wrap {
	padding: 0 10px;
}

.header-line {
	border-bottom: 1px solid #444444;
	width: 100%;
}

.header-name {
	font-size: 35px;
}

.header-name-first {
	transform: translateY(8px);
}

.header-element-wrap {
	padding: 0 5px;
}

.header-elements {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-right {
	align-items: center;
	display: flex;
}

.header-right .header-element {
	height: 18px;
}

.header-input {
	width: 150px;
}

.header-enter-button{
	height: 25px;
	width: 80px;
	border-radius: 4px;
	font-family: Georgia;
	color: #ffa717;
	background-color: #5C3901;
}

.header-reg {
	display: flex;
	flex-direction: column;
	padding: 4px 0;
	padding-right:240px;
}

.header-name-second-wrap {
	align-self: flex-start;
}

.header-element-vertical-wrap {
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: auto;
    margin-right: auto;
}

.header-second{
	padding-bottom: 5px;
}

.reg-button{
	height: 25px;
	width: 170px;
	border-radius: 4px;
	font-family: Georgia;
	color: #ffe66f;
	background-color: #4C678a;
}

.header-search{
	margin-right: 5px;
}

.header-search-input{
	height: 25px;
	width: 200px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -.36em;
	border-radius: 4px 0 0 4px;
	font-family: Georgia;
}

.header-search-button{
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -.36em;
	border-radius: 0 4px 4px 0;
	font-family: Georgia;
	color: #ffe66f;
	background-color: #4C678a;
}

.page-body {
	display: flex;
	padding: 50px 0;
	text-align: center;
}

.enter-input{
	height: 25px;
	width: 300px;
	padding: 10px 20px;
	border-radius: 4px;
	font-family: Georgia;
}

.input-wrap{
	padding-bottom: 15px;
}

.enter-button{
	height: 25px;
	width: 150px;
	border-radius: 4px;
	font-family: Georgia;
	color: #ffe66f;
	background-color: #7B8EA8;
}

.fogot-password{
	font-size: smaller;
	color: #4C678a;
}

.link-wrap{
	margin: -5px 10px;
}

.authorization{
	color: #5C3901;
	font-weight: bolder;
	font-size: 200%;
	margin-bottom: 15px;
}

::placeholder {
  color: #a0a0a0;
}

.account-enter{
	color: #5C3901;
	font-family: Georgia;
	font-size: 110%;
	margin-bottom: 20px;
	margin-top: 30px;
}

.transitions{
	display: flex;
	justify-content: center;
}

.tran-button{
	border: 0px;
	background-color: transparent;
	margin: 0px 5px;
}

.logo{
	height: 40px;
	width: 40px;
}

.log-value{
	color: #515151;
}
.password-wrap{
	margin-left: -10px;
}

.password-wrap i{
	margin-left: -30px;
	cursor: pointer;
}

.enter-wrap .info{
	white-space: pre-line;
	color: #5C3901;
	font-family: Georgia;
	font-size: 80%;
	margin-bottom: 20px;
	margin-top: -8px;
	line-height:7px
}

.enter-wrap .field-name{
	color: #5C3901;
	font-family: Georgia;
}

.field-name p{
	margin-left: 106.5px;
	text-align: left;
	font-size: 95%;
	margin-bottom: 4px;
	margin-top: -8px;
}

.enter-wrap .error{
	border:1px solid #e2240b;
	background: rgb(255, 0, 13, 0.1);
}

.enter-wrap .error-message{
	white-space: pre-line;
	color: #e2240b;
	font-family: Georgia;
	font-size: 80%;
	margin-bottom: 20px;
	margin-top: 0px;
	line-height:7px
}