body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffe3b4;
		
}

input {
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
}

.wrap {
	max-width: 1010px;
	margin: 0 auto;
	font-family: Georgia;
}

.page-body {
	padding: 50px 0;
}

.page-container {
	display: flex;
	justify-content: space-between;
}

.main-page{
	margin-left: 5px;
	margin-right: 20px;
}

.topic-header{
	border-bottom: 2px solid #5C3901;
	padding: 5px 0px;
}

.topic{
	font-size: 120%;
	color: #5C3901;
}

a{
	text-decoration: none;
}

.book-box{
	background: #ffeccd;
	margin-top: 20px;
	border-radius: 2px;
	display: flex;
	padding: 20px;
}

.book-cover{
	height: 170px;
	width: 130px;
}

.book-link{
	font-size: 90%;
	padding-right: 15px;
	padding-top: 5px;
	color: #5c1b03;
}

 .stars-out {
	position: relative;
	margin-right: 0px;
	color: grey;
	z-index: 1;
}
.stars-in {
	position: absolute; 
	z-index: 2; 
	color: orange;
	font-size: inherit;
	display: block; 
	top: 0; left: 0; bottom: 0;
	overflow: hidden;
	width: 0; 
}

.stars{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 10px;
}

.book-header{
	display: flex;
	padding-left: 20px;
}

.description{
	padding: 20px;
	font-size: 90%;
	text-align: justify;
}

.tags{
	padding-left: 20px;
}

.book-tag{
	color: #021C3C;
	font-size: 70%;
}

.blue-column{
	background-color: #bbd9ff;
	margin-left: 20px;
	margin-right: 5px;
	max-width: 200px;
}

.genre-column{
	padding: 20px 30px;
	white-space: nowrap;
}

.genre-topic{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
}

.column-topic-link{
	color: #5C3901;
	text-shadow: #5C3901 0px 1px 1px;
	padding-bottom: 5px;
}

.book-top-link{
	padding-bottom: 7px;
	padding-right: 3px;
	color: #a67424;
	font-size: 90%;
	white-space: normal;
}

.genre-list{
	padding-inline-start: 0px;
	padding-right: 5px;
	margin-block-start: 0em;
}

li {
	list-style-type: none;
	
}

.genre{
	display: flex;
}

.genre-action{
	color: #5C3901;
	font-size: 100%;
	font-weight: bold;
}

.genre-scroll{
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 10px;
}

.genre-scroll::-webkit-scrollbar{
	background-color: #8A7A60;
	width: 7px;
	height: 7px;
}

.genre-scroll::-webkit-scrollbar-thumb{
	background-color: #5C3A03;
}

.add-remote-button{
	height: 10px;
	padding: 1px 0px 0px 0px;
	background-color: transparent;
	border: 0px;
	border-radius: 4px;
	margin-right: 5px;
	font-size: 90%;
}
.add-remote-button:focus{
	border: 0;
	outline:0;
	color: #a67424;
}
.add-remote-button:active .icon{
	color: #a67424;
}

.icon{
	font-size: 90%;
	color: #5C3901;
}

.genre-scroll-tag{
	height: 300px;
	overflow-y: scroll;
	overflow-x: scroll;
	margin-top: 10px;
}

.genre-scroll-tag::-webkit-scrollbar{
	background-color: #8A7A60;
	width: 7px;
	height: 5px;
}

.genre-scroll-tag::-webkit-scrollbar-thumb{
	background-color: #5C3A03;
}

.genre-scroll-tag::-webkit-scrollbar-corner{
	background-color: #8A7A60;
}