.content {
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	max-width: 1010px;
	margin: 0 auto;
	font-family: Georgia;
}

.content-central {
	margin-left: 55px;
	margin-right: 20px;
}

.content-central__header {
	border-bottom: 2px solid #5C3901;
	padding: 5px 0px;
}

.content-central__header-title {
	font-size: 120%;
	color: #5C3901;
}

a {
	text-decoration: none;
}

/* .blue-column{
	background-color: #bbd9ff;
	margin-left: 20px;
	margin-right: 5px;
	max-width: 200px;
}

.genre-column{
	padding: 20px 30px;
	white-space: nowrap;
}

.genre-topic{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
}

.column-topic-link{
	color: #5C3901;
	text-shadow: #5C3901 0px 1px 1px;
	padding-bottom: 5px;
}

.book-top-link{
	padding-bottom: 7px;
	padding-right: 3px;
	color: #a67424;
	font-size: 90%;
	white-space: normal;
}

.genre-list{
	padding-inline-start: 0px;
	padding-right: 5px;
	margin-block-start: 0em;
}

li {
	list-style-type: none;
	
}

.genre{
	display: flex;
}

.genre-action{
	color: #5C3901;
	font-size: 100%;
	font-weight: bold;
}

.genre-scroll{
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 10px;
}

.genre-scroll::-webkit-scrollbar{
	background-color: #8A7A60;
	width: 7px;
	height: 7px;
}

.genre-scroll::-webkit-scrollbar-thumb{
	background-color: #5C3A03;
}

.add-remote-button{
	height: 10px;
	padding: 0px 0px 0px 0px;
	background-color: transparent;
	border: 0px;
	border-radius: 4px;
	margin-right: 5px;
	font-size: 90%;
}

.add-remote-button:focus{
	border: 0;
	outline:0;
	color: #a67424;
}

.add-remote-button:active .icon{
	color: #a67424;
}

.icon{
	font-size: 90%;
	color: #5C3901;
}

.genre-scroll-tag{
	height: 300px;
	overflow-y: scroll;
	overflow-x: scroll;
	margin-top: 10px;
}

.genre-scroll-tag::-webkit-scrollbar{
	background-color: #8A7A60;
	width: 7px;
	height: 5px;
}

.genre-scroll-tag::-webkit-scrollbar-thumb{
	background-color: #5C3A03;
}

.genre-scroll-tag::-webkit-scrollbar-corner{
	background-color: #8A7A60;
} */