.book-card {
	max-width:850px;
	background: #ffeccd;
	margin-top: 20px;
	border-radius: 2px;
	display: flex;
	padding: 20px;
	overflow:hidden;
}

.book-card__book-cover-box {
	width: 100%;
}

.book-card__book-cover {
	height: 170px;
	width: 130px;
}

.book-card__header-box {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
}

.book-card__info-book {
	display: flex;
	flex-direction: column;
	max-width:400px;
}

.book-card__link-book {
	font-size: 90%;
	padding-right: 15px;
	padding-top: 5px;
	color: #5c1b03;
}

.book-card__link-author {
	font-size: 75%;
	padding-right: 15px;
	padding-top: 5px;
	color: #5c1b03;
}

.book-card__rating {
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
	white-space: nowrap;
}

.book-card__tag-box {
	padding-left: 20px;
}

.book-card__link-tag {
	color: #021C3C;
	font-size: 70%;
}

.book-card__book-description {
	padding: 20px;
	font-size: 90%;
	text-align: justify;
}
