<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="static/authorPage.css">
		<link rel="stylesheet" href="static/css/font-awesome.min.css">
	</head>
	
	<body>
		
		<div class="page-body">
			<div class="wrap page-container">
				<div class="main-page">
					
					<div class="information-box">
					
						<div class="author-img-wrap">
							<div class ="author-img">
								<img src="default_profile_image.png" class="">
							</div>
						</div>
						
						<div class="profile-inform-wrap">
								<div class="name-wrap">
									<div class="name">
										Стивен Кинг
									</div>								
								</div>
								
						</div>
					</div>
					
					<div class="description">
						<div class="book-topic">
							Об авторе
						</div>
						
						<div class="description-text">
							Стивен Кинг – американский писатель, создающий ужасы, триллеры, фантастику, фэнтези, мистические романы и 
							драмы, обладатель премий Брэма Стокера и О. Генри, Всемирной премии фэнтези, наград Британского общества 
							фэнтези и Канадской ассоциации книготорговцев, медали Национального фонда книг за выдающийся вклад в 
							американскую литературу, звания Великого Магистра от Американских писателей-мистиков, Национальной медали 
							США в области искусств с формулировкой «за сочетание захватывающих историй с анализом человеческой натуры».
						</div>
					</div>
					
					
					<div class="books-wrap">
						<div class="book-topic">
							Книги
						</div>
						
						<div class="read-now-wrap read-wrap">
							<div class="topic-header">
								<div class="topic">Талисман</div>														
							</div>
							
							<div class="book-list">
								<div class="book">
									<a href=# class="book-link">Талисман</a>
									
									<div class="book-date">
										1984 год
									</div>
								</div>
								
								<div class="book">
									<a href=# class="book-link">Черный дом</a>
									
									<div class="book-date">
										2001 год
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="read-now-wrap read-wrap">
							<div class="topic-header">
								<div class="topic">Темная Башня</div>
							</div>
							
							<div class="book-list">
								<div class="book">
									<a href=# class="book-link">Стрелок. Извлечение троих. Бесплодные земли</a>
									
									<div class="book-date">
										1982 год
									</div>
								</div>
								
								<div class="book">
									<a href=# class="book-link">Ветер сквозь замочную скважину</a>
									
									<div class="book-date">
										2013 год
									</div>
								</div>
								
								<div class="book">
									<a href=# class="book-link">Всё предельно (сборник)</a>
									
									<div class="book-date">
										2002 год
									</div>
								</div>
								
								<div class="book">
									<a href=# class="book-link">Буря столетия</a>
									
									<div class="book-date">
										1999 год
									</div>
								</div>
								
								<div class="book">
									<a href=# class="book-link">Парень из Колорадо</a>
									
									<div class="book-date">
										2005 год
									</div>
								</div>
								
								<div class="book">
									<a href=# class="book-link">Смиренные сестры Элурии</a>
									
									<div class="book-date">
										1998 год
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					
					
				</div>
									
			
			
				<div class="blue-column">
						
					<div class="internal-blue-column">
						<div class="column-topic">
							Рекомендуем к прочтению
						</div>
							
						<div class="img-wrap column-img">
							<a href="#">
								<img class="book-cover" src="">
							</a>
							
							<div class="book-wrap">
								<a href="#" class="book-name">Реликварий</a>
							</div>
						</div>
						
						<div class="img-wrap column-img">
							<a href="#">
								<img class="book-cover" src="">
							</a>
							<div class="book-wrap">
								<a href="#" class="book-name">Кабинет диковин</a>
							</div>
						</div>
						
						<div class="deployment-wrap">
							<a class="deployment" href="javascript://" onclick="">Развернуть</a>
						</div>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</body>
</html>