{% set max_stars = 5 %}
{% set max_rating = 10 %}
{% set date_format = "%d.%m.%Y" %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/book_page.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <script src="/static/js/review_sort.js"></script>
    </head>

    <body>
    	{% if current_user.is_authenticated %}
			{% include "headerRegUser.html" %}
		{% else %}
			{% include "headerUnregUser.html" %}
		{% endif %}

        <div class="page-body">
            <div class="wrap page-container">
                <div class="main-page">
                    <div class="book-name">
                        {{ book.name }}
                    </div>

                    <div class="tag-wrap">
                        {% for tag in book.tags %}
                            <a href=# class="tag-link">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>

                    <div class="information-box">
                        <img src="{{ book.cover_path }}" class="book-img">

                        <div class="information-wrap">
                            <div class="information inform-column">
                                <div class="book-topic">
                                    Информация
                                </div>

                                <div class="inform-paragraph">
                                    <div class="name-par">
                                        Автор: 
                                    </div>
                                    <div class="book-inf">
                                        {% for author in book.authors %}
                                            <a href=# class="author-link inf-link">{{ author.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="inform-paragraph">
                                    <div class="name-par">
                                        Жанры: 
                                    </div>
                                    <div class="book-inf">
                                        {% for genre in book.genres %}
                                            <a href=# class="genre-link inf-link">{{ genre.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="inform-paragraph">
                                    <div class="name-par">
                                        Дата публикации: 
                                    </div>
                                    <div class="book-inf inf-link">
                                        {{ book.publish_date.strftime(date_format) }}
                                    </div>
                                </div>

                                <!--
                                <div class="inform-paragraph">
                                    <div class="name-par">
                                        Издатель: 
                                    </div>
                                    <div class="book-inf">
                                        <a href=# class="genre-link inf-link"></a>
                                    </div>
                                </div>
                                -->

                                <div class="inform-paragraph">
                                    <div class="name-par">
                                        Входит в серии: 
                                    </div>
                                    <div class="book-inf">
                                        {% for series in book.series %}
                                            <a href=# class="series-link inf-link">{{ series.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="inform-paragraph">
                                    <div class="name-par">
                                        Количество отзывов: 
                                    </div>
                                    <div class="book-inf inf-link">
                                        {{ book.reviews | length }}
                                    </div>
                                </div>
                            </div>

                            <div class="add-information inform-column">
                                <div class="book-topic">
                                    Рейтинг
                                </div>

                                <div class="rating">
                                    <div class="stars">
                                        {{ star_rating(book.average_rating, max_stars, max_rating) | safe }}
                                    </div>

                                    <div class="score">
                                        {{ "%0.2f" % book.average_rating }}
                                    </div>
                                </div>

                                <div class="name-par">
                                        Награды: 
                                </div>

                                <div class="rewards-wrap">
                                    {% for award in book.awards %}
                                        <div class="reward">
                                            award.name
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="book-topic list-name">
                                    В списках у людей
                                </div>

                                <div class="bookmark-list">
                                    <div class="lines-wrap">
                                        <div class="line">
                                            <div class="line-back" style="width:100%"></div>
                                            <div class="line-content">
                                                <div class="line-element line-value">
                                                    {{ favorites_count }}
                                                </div>
                                                <div class="line-element line-category">
                                                    В избранном
                                                </div>
                                            </div>
                                        </div>

                                        <div class="line">
                                            <div class="line-back" style="width:100%"></div>
                                            <div class="line-content">
                                                <div class="line-element line-value">
                                                    {{ wishlist_count }}
                                                </div>
                                                <div class="line-element line-category">
                                                    Хотят прочитать
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <div class="book-topic">
                            Описание
                        </div>

                        <div class="description-text">
                            {{ book.preamble }}
                        </div>
                    </div>

                    <div class="coats-wrap">
                        <div class="book-topic">
                            Цены
                        </div>

                        <div class="shops-list">
                            {% for book_store in book.books_stores %}
                                <div class="shop-cost">
                                    <div class="shop">
                                        <a href="{{ book_store.product_url }}" class="shop-link inf-link" target="_blank">
                                            {{ book_store.store.name }}
                                        </a>                                
                                    </div>

                                    <div class="cost">
                                        {{ book_store.price[1:] }}₽
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="reviews-list">
                        <div class="book-topic">
                            Отзывы
                        </div>

                        <div class="review-sort">
                            <div class="sort">
                                Сортировка:
                            </div>
                            <input class="sort-button" id="date-sort-button" type="submit" value="по дате">
                            |
                            <input class="sort-button" id="rating-sort-button" type="submit" value="по рейтингу">

                        </div>

                        <div class="reviews-content">
                            <div id="reviews-outer">
                                {% for review in book.reviews %}
                                    <div class="review">
                                        <div class="person-inf">
                                            <div class="person-header">
                                                <div class="person-nikname">
                                                    {{ review.user.login }}
                                                </div>

                                                <div class="review-date">
                                                    {{ review.date.strftime(date_format) }}
                                                </div>
                                            </div>

                                            <div class="person-book-rating">
                                                {% if review.rating %}
                                                    <div class="stars review-stars">
                                                        {{ star_rating(review.rating.rating, max_stars, max_rating) | safe }}
                                                    </div>

                                                    <div class="score review-score">
                                                        {{ review.rating.rating }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="review-text">
                                            {{ review.review }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            {% if current_user.is_authenticated %}
                                <div class="review-input-box review">
                                    <div class="person-inf header-review-input">
                                        <div class="leave-review">
                                            Оставьте здесь свой отзыв
                                        </div>

                                        <div class="person-book-rating">
                                            <div class="star-rating">
                                            <div class="star-rating__wrap">
                                                <input class="star-rating__input" id="star-rating-5" form="review-form" type="radio" name="rating" value="5">
                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>

                                                <input class="star-rating__input" id="star-rating-4" form="review-form" type="radio" name="rating" value="4">
                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>

                                                <input class="star-rating__input" id="star-rating-3" form="review-form" type="radio" name="rating" value="3">
                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>

                                                <input class="star-rating__input" id="star-rating-2" form="review-form" type="radio" name="rating" value="2">
                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>

                                                <input class="star-rating__input" id="star-rating-1" form="review-form" type="radio" name="rating" value="1">
                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="review-input-wrap">
                                        <form id="review-form">
                                            <div class="textarea-wrap">
                                                <textarea class="review-input" form="review-form"></textarea>
                                            </div>

                                            <input class="send-button" type="submit" value="Отправить рецензию">
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!--<div class="blue-column">
                    <div class="author-column-wrap">
                        {% for author in book.authors %}
                            <div class="author-wrap">
                                <div class="column-topic">
                                    {{ author.name }}
                                </div>

                                <div class="img-wrap column-img">
                                    <img class="book-cover" src="{{ author.photo_path }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>-->
            </div>
        </div>
    </body>
</html>
