<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/mainpage.css">
	</head>
	
	<body>
		{% if current_user.is_authenticated %}
			{% include "headerRegUser.html" %}
        {% else %}
			{% include "headerUnregUser.html" %}
		{% endif %}

		<div class="page-body">
			<div class="wrap page-container">
				<div class="main-page">
					<div class="input-box">
						<form>
							<input class="search-input" type="text" placeholder="Название книги, имя автора">
							<div class="button-box">
								<input class="search-button" type="submit" value="Поиск"></input>
								<button class="search-button">Случайная книга</button>
							</div>
						</form>
					</div>
					
					<div class="topic-wrap">
						<div class="topic-header">
							<a class="topic" href=#>Популярные Категории</a>
						</div>
						
						<div class="genre-links">
							{% for item in genre_list %}
								<a href=# class="genre-link">{{ item.name }}</a>
    						{% endfor %}
						</div>						
					</div>
					
					<div class="topic-wrap">
						<div class="topic-header">
							<a class="topic" href=#>Выбор Редакции</a>
						</div>

						{% for item in redaction_choice %}
							<div class="boоks-topic">
								<div class="book-box">
									<div class="img-wrap">
										<img class="book-cover" src="{{ item.cover_path }}">
									</div>
									
									<div class="inf-wrap">
										<div class="book-header">
											<div class="book-title-author">
												<a href=# class="book-link">{{ item.book_name }} </a>
												{% for author in item.authors %}
													<a href=# class="book-link book-author"> {{ author }} </a>
												{% endfor %}			
											</div>
											
											<div class="stars">
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 100, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 200, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 300, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 400, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 500, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 600, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 700, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" aria-hidden="true" style="width: {{ ((item.book_rating*100 - 800, 0) | max, 100) | min }}%;"></i>
												</i>
												<i class="fa fa-star stars-out">
													<i class="fa fa-star stars-in" style="width: {{ ((item.book_rating*100 - 900, 0) | max, 100) | min }}%;"></i>
												</i>
											</div>
										</div>
										
										<div class="tags">
											{% for tag in item.tags %}
												<a href=# class="book-tag"> #{{ tag.name }} </a>
											{% endfor %}
										</div>
										
										<div class="description">
											{{ item.description }}
										</div>
									</div>	
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
				

				<div class="blue-column">
					<div class="leader-wrap">
						<div class="leader-topic">
							Новинка месяца
						</div>
						
						<div class="img-wrap leader-img">
							<img class="book-cover" src="{{ best_book_month.cover_path }}">
						</div>
					</div>
					
					<div class="top-wrap">
						<a href=# class="top-link">Топ 10</a>

						{% for book in best_books %}
							<a href="{{ url_for('main.book', book_id=book.id) }}" class="book-top-link"> {{ book.name }} </a>
						{% endfor %}			
					</div>
					
					<div class="top-wrap authors-wrap">
						<a href=# class="top-link">Популярные Авторы</a>
						
						{% for author in best_authors %}
							<a href=# class="book-top-link"> {{ author.name }} </a>
						{% endfor %}					
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
