<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="static/bookPage.css">
		<link rel="stylesheet" href="static/css/font-awesome.min.css">
	</head>
	
	<body>
		<div class="page-body">
			<div class="wrap page-container">
				<div class="main-page">
					<div class="book-name">
						Реликт
					</div>
					
					<div class="tag-wrap">
						<a href=# class="tag-link">#Научная фантастика</a>
						<a href=# class="tag-link">#Детектив</a>
						<a href=# class="tag-link">#Триллер</a>
						<a href=# class="tag-link">#Роман</a>
					</div>
					
					<div class="information-box">
						<img src="/static/image/default_image.png" class="book-img">
						
						<div class="information-wrap">
							<div class="information inform-column">
								<div class="book-topic">
									Информация
								</div>
								
								<div class="inform-paragraph">
									<div class="name-par">
										Автор: 
									</div>
									<div class="book-inf">
										<a href=# class="author-link inf-link">Дуглас Престон, Линкольн Чайлд</a>
									</div>
								</div>
								
								<div class="inform-paragraph">
									<div class="name-par">
										Жанры: 
									</div>
									<div class="book-inf">
										<a href=# class="genre-link inf-link">Научная фантастика</a>
										<a href=# class="genre-link inf-link">Детектив</a>
										<a href=# class="genre-link inf-link">Триллер</a>
										<a href=# class="genre-link inf-link">Роман</a>
									</div>
								</div>
								
								<div class="inform-paragraph">
									<div class="name-par">
										Дата публикации: 
									</div>
									<div class="book-inf inf-link">
										1995 г.
									</div>
								</div>
								
								<div class="inform-paragraph">
									<div class="name-par">
										Издатель: 
									</div>
									<div class="book-inf">
										<a href=# class="genre-link inf-link">Tor Books</a>
									</div>
								</div>
								
								<div class="inform-paragraph">
									<div class="name-par">
										Входит в серию: 
									</div>
									<div class="book-inf inf-link">
										Пендергаст
									</div>
								</div>
								
								<div class="inform-paragraph">
									<div class="name-par">
										Количество отзывов: 
									</div>
									<div class="book-inf inf-link">
										666
									</div>
								</div>
							</div>
						
						
							<div class="add-information inform-column">
								<div class="book-topic">
									Рейтинг
								</div>
								
								<div class="rating">
									<div class="stars">
										<i class="fa fa-star stars-out">
											<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
										</i>
										<i class="fa fa-star stars-out">
											<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
										</i>
										<i class="fa fa-star stars-out">
											<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
										</i>
										<i class="fa fa-star stars-out">
											<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
										</i>
										<i class="fa fa-star stars-out">
											<i class="fa fa-star stars-in" style="width: 33.33%;"></i>
										</i>
									</div>
									
									<div class="score">
										8.66
									</div>
								</div>
								
								<div class="name-par">
										Награды: 
									</div>
								
								<div class="rewards-wrap">
									<div class="reward">
										Рейтинг
									</div>
									<div class="reward">
										Рейтинг
									</div>
								</div>
								
								<div class="book-topic list-name">
									В списках у людей
								</div>
								
								<div class="bookmark-list">
									<div class="count-wrap">
										<div class="bookmark-count-wrap name-par">
											Количество:
											<div class="bookmark-count">
												465454
											</div>
										</div>
									</div>
									
									<div class="lines-wrap">
										<div class="line">
											<div class="line-back" style="width:80%"></div>
											<div class="line-content">
												<div class="line-element line-value">
													11785
												</div>
												<div class="line-element line-category">
													Сейчас читают
												</div>
											</div>
										</div>
										
										<div class="line">
											<div class="line-back" style="width:60%"></div>
											<div class="line-content">
												<div class="line-element line-value">
													1265
												</div>
												<div class="line-element line-category">
													Хотят прочитать
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="description">
						<div class="book-topic">
							Описание
						</div>
						
						<div class="description-text">
							В музее естественной истории Нью-Йорка никогда не происходило ничего особенного.... 
							Но вот из джунглей Южной Америки прибыл таинственный новый экспонат, - и в тихих залах 
							и коридорах музея поселился загадочный, смертоносный ужас. Убийство следует за убийством. 
							Несчастные жертвы гибнут столь страшной смертью, что опытный детектив Винсент д'Агоста 
							делает вывод: совершить такое - не в человеческих силах...
						</div>
					</div>
					
					<div class="coats-wrap">
						<div class="book-topic">
							Цены
						</div>
						
						<div class="shops-list">
							<div class="shop-cost">
								<div class="shop">
									<a href=# class="shop-link inf-link">Ozon</a>								
								</div>
								
								<div class="cost">
									128₽
								</div>
							</div>
							
							<div class="shop-cost">
								<div class="shop">
									<a href=# class="shop-link inf-link">Читай город</a>								
								</div>
								
								<div class="cost">
									116₽
								</div>
							</div>
							
							<div class="shop-cost">
								<div class="shop">
									<a href=# class="shop-link inf-link">Ozon</a>								
								</div>
								
								<div class="cost">
									128₽
								</div>
							</div>
							
							<div class="shop-cost">
								<div class="shop">
									<a href=# class="shop-link inf-link">Читай город</a>								
								</div>
								
								<div class="cost">
									116₽
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="reviews-list">
						<div class="book-topic">
							Отзывы
						</div>
						
						<div class="rewiew-sort">
							<div class="sort">
								Сортировка:
							</div>
							<input class="sort-button" type="submit" value="по дате"></input>
							|
							<input class="sort-button" type="submit" value="по рейтингу"></input>
						
						</div>
						
						
						<div class="rewiews-content">
							<div class="rewiew">
								<div class="person-inf">
									<div class="person-header">
										<div class="person-nikname">
											pnthrLeo
										</div>
										
										<div class="rewiew-date">
											02.12.20
										</div>
									</div>
									
									<div class="person-book-rating">
										<div class="stars rewiew-stars">
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" style="width: 0%;"></i>
											</i>
										</div>
										
										<div class=" score rewiew-score">
											8
										</div>
									</div>
								</div>
								
								<div class="rewiew-text description-text">
									В музее естественной истории Нью-Йорка никогда не происходило ничего особенного.... 
									Но вот из джунглей Южной Америки прибыл таинственный новый экспонат, - и в тихих залах 
									и коридорах музея поселился загадочный, смертоносный ужас. Убийство следует за убийством. 
									Несчастные жертвы гибнут столь страшной смертью, что опытный детектив Винсент д'Агоста 
									делает вывод: совершить такое - не в человеческих силах...
								</div>
							</div>
							
							
							<div class="rewiew">
								<div class="person-inf">
									<div class="person-header">
										<div class="person-nikname">
											pnthrLeo
										</div>
										
										<div class="rewiew-date">
											02.12.20
										</div>
									</div>
									
									<div class="person-book-rating">
										<div class="stars rewiew-stars">
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" style="width: 0%;"></i>
											</i>
										</div>
										
										<div class=" score rewiew-score">
											8
										</div>
									</div>
								</div>
								
								<div class="rewiew-text description-text">
									В музее естественной истории Нью-Йорка никогда не происходило ничего особенного.... 
									Но вот из джунглей Южной Америки прибыл таинственный новый экспонат, - и в тихих залах 
									и коридорах музея поселился загадочный, смертоносный ужас. Убийство следует за убийством. 
									Несчастные жертвы гибнут столь страшной смертью, что опытный детектив Винсент д'Агоста 
									делает вывод: совершить такое - не в человеческих силах...
								</div>
							</div>
							
							<div class="rewiew">
								<div class="person-inf">
									<div class="person-header">
										<div class="person-nikname">
											pnthrLeo
										</div>
										
										<div class="rewiew-date">
											02.12.20
										</div>
									</div>
									
									<div class="person-book-rating">
										<div class="stars rewiew-stars">
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" style="width: 0%;"></i>
											</i>
										</div>
										
										<div class=" score rewiew-score">
											8
										</div>
									</div>
								</div>
								
								<div class="rewiew-text description-text">
									В музее естественной истории Нью-Йорка никогда не происходило ничего особенного.... 
									Но вот из джунглей Южной Америки прибыл таинственный новый экспонат, - и в тихих залах 
									и коридорах музея поселился загадочный, смертоносный ужас. Убийство следует за убийством. 
									Несчастные жертвы гибнут столь страшной смертью, что опытный детектив Винсент д'Агоста 
									делает вывод: совершить такое - не в человеческих силах...
								</div>
							</div>
							
							
							<div class="rewiew-input-box rewiew">
								<div class="person-inf header-rewiew-input">
									<div class="leave-review">
										Оставьте здесь свой отзыв
									</div>
									
									<div class="person-book-rating">
										<div class="star-rating">
										  <div class="star-rating__wrap">
											<input class="star-rating__input" id="star-rating-5" form="rewiew-form" type="radio" name="rating" value="5">
											<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
											
											<input class="star-rating__input" id="star-rating-4" form="rewiew-form" type="radio" name="rating" value="4">
											<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
											
											<input class="star-rating__input" id="star-rating-3" form="rewiew-form" type="radio" name="rating" value="3">
											<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
											
											<input class="star-rating__input" id="star-rating-2" form="rewiew-form" type="radio" name="rating" value="2">
											<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
											
											<input class="star-rating__input" id="star-rating-1" form="rewiew-form" type="radio" name="rating" value="1">
											<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
										  </div>
										</div>
									</div>
								</div>
								
								<div class="rewiew-input-wrap">
									<form id="rewiew-form">
										<div class="textarea-wrap">
											<textarea class="rewiew-input" form="rewiew-form" >
											</textarea>
										</div>
										
										<input class="send-button" type="submit" value="Отправить рецензию"></input>
									</form>
								</div>
							</div>
						</div>
					</div>
					
				</div>
									
			
			
				<div class="blue-column">
					<div class="author-column-wrap">
						<div class="author-wrap">
							<div class="column-topic">
								Дуглас Престон
							</div>
							
							<div class="img-wrap column-img">
								<img class="book-cover" src="">
							</div>
						</div>
						
						<div class="author-wrap">
							<div class="column-topic">
								Линкольн Чайлд
							</div>
							
							<div class="img-wrap column-img">
								<img class="book-cover" src="">
							</div>
						</div>
						
						<div class="author-description">
							В начале 1990-ых Престон и Чайлд создали команду, чтобы писать саспенс-романы;
							"Реликт" был первым, потом вышли другие, включая "Разрыв" и "Молния". 
							"Реликт" был экранизирован Парамаунт в 1997. 
							Другие фильмы сейчас находятся в производстве в Голливудских студиях . 
							Престон и Чайлд живут на расстоянии 500 миль друг от друга и пишут книги вместе через телефон, 
							факс, и Интернет.
						</div>
						
						<div class="deployment-wrap">
							<a class="deployment" href="javascript://" onclick="">Развернуть</a>
						</div>
					</div>	

					<div class="author-book-wrap">
						<a href=# class="top-link">Другие книги</a>
						
						<a href=# class="author-book-link">Огонь и сера</a>
						<a href=# class="author-book-link">Танец смерти</a>
						<a href=# class="author-book-link">Книга мертвых</a>
						<a href=# class="author-book-link">Белый огонь</a>
						<a href=# class="author-book-link">Танец на кладбище</a>
						<a class="deployment" href="javascript://" onclick="">Развернуть</a>					
					</div>

						
					<div class="second-blue-column">
						<div class="column-topic">
							Другие книги серии
						</div>
							
						<div class="img-wrap column-img">
							<a href="#">
								<img class="book-cover" src="">
							</a>
							
							<div class="other-book-wrap">
								<a href="#" class="otger-book-name">Реликварий</a>
							</div>
						</div>
						
						<div class="img-wrap column-img">
							<a href="#">
								<img class="book-cover" src="">
							</a>
							<div class="other-book-wrap">
								<a href="#" class="otger-book-name">Кабинет диковин</a>
							</div>
						</div>
						
						<div class="deployment-wrap">
							<a class="deployment" href="javascript://" onclick="">Развернуть</a>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</body>
</html>
