<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/mainpage.css">
	</head>
	
	<body>
		{% if current_user.is_authenticated %}
			{% include "headerRegUser.html" %}
		{% endif %}

		{% if not current_user.is_authenticated %}
			{% include "headerUnregUser.html" %}
		{% endif %}

		<div class="page-body">
			<div class="wrap page-container">
				<div class="main-page">
					<div class="input-box">
						<form>
							<input class="search-input" type="text" placeholder="Название книги, имя автора">
							<div class="button-box">
								<input class="search-button" type="submit" value="Поиск"></input>
								<button class="search-button">Случайная книга</button>
							</div>
						</form>
					</div>
					
					<div class="topic-wrap">
						<div class="topic-header">
							<a class="topic" href=#>Жанр</a>
						</div>
						
						<div class="genre-links">							
							<a href=# class="genre-link">Зарубежный детектив</a>
							<a href=# class="genre-link">Классический детектив</a>
							<a href=# class="genre-link">Современный детектив</a>
							<a href=# class="genre-link">Ужасы</a>							
							<a href=# class="genre-link">Мистика</a>
							<a href=# class="genre-link">Зарубежная классика</a>
							<a href=# class="genre-link">Русская классика</a>
							<a href=# class="genre-link">Классическая проза</a>							
							<a href=# class="genre-link">Фольклор</a>
							<a href=# class="genre-link">Триллер</a>
							<a href=# class="genre-link">Фэнтези</a>
							<a href=# class="genre-link">Фантастика</a>							
							<a href=# class="genre-link">Зарубежная фантастика</a>
							<a href=# class="genre-link">Научная фантастика</a>
							<a href=# class="genre-link">Историческая фантастика</a>
							<a href=# class="genre-link">Киберпанк</a>							
							<a href=# class="genre-link">Роман</a>
							<a href=# class="genre-link">Приключения</a>
							<a href=# class="genre-link">Вестерны</a>
							<a href=# class="genre-link">Биография и мемуары</a>							
							<a href=# class="genre-link">Криминальные боевики</a>
							<a href=# class="genre-link">Общая психология</a>
							<a href=# class="genre-link">Историческая литература</a>
							<a href=# class="genre-link">Боевик</a>	
						</div>						
					</div>
					
					<div class="topic-wrap">
						<div class="topic-header">
							<a class="topic" href=#>Выбор Редакции</a>
						</div>
						
						<div class="boоks-topic">
							<div class="book-box">
								<div class="img-wrap">
									<img class="book-cover" src="">
								</div>
								
								<div class="inf-wrap">
									<div class="book-header">
										<a href=# class="book-link">Кладбище домашних животных</a>
										<a href=# class="book-link">Стивен Кинг</a>					
										
										<div class="stars">
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" style="width: 33.33%;"></i>
											</i>
										</div>
									</div>
									
									<div class="tags">
										<a href=# class="book-tag">#Мистика</a>
										<a href=# class="book-tag">#Триллеры</a>
										<a href=# class="book-tag">#Ужасы</a>
									</div>
									
									<div class="description">
										Казалось бы, семейство Крид – это настоящее воплощение «американской мечты»: 
										отец – преуспевающий врач, красавица мать, прелестные дети. Для полной идиллии им не
										хватает лишь большого старинного дома, куда они вскоре и переезжают.
										Но идиллия вдруг стала превращаться в кошмар. Потому что в окружающих их 
										новое жилище вековых лесах скрывается НЕЧТО более ужасное, чем сама смерть и… более могущественное.
									</div>
								</div>	
							</div>
						</div>
						
						<div class="boоks-topic">
							<div class="book-box">
								<div class="img-wrap">
									<img class="book-cover" src="">
								</div>
								
								<div class="inf-wrap">
									<div class="book-header">
										<a href=# class="book-link">Оно</a>
										<a href=# class="book-link">Стивен Кинг</a>					
										
										<div class="stars">
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" style="width: 33.33%;"></i>
											</i>
										</div>
									</div>
									
									<div class="tags">
										<a href=# class="book-tag">#Мистика</a>
										<a href=# class="book-tag">#Ужасы</a>
									</div>
									
									<div class="description">
										Волна страшных убийств захватила небольшой американский город Дерри. 
										Один за одним погибают дети, но полиция бессильна. Маньяк не оставляет следов, нет ни единой зацепки.
										Семеро одиннадцатилетних ребят решаются найти убийцу – жестокое нечто по имени Оно. 
										Каждому из них предстоит пережить встречу с чудовищем, и никто из взрослых не придет на помощь. 
										Ведь Оно – воплощение детских страхов, которое взрослые просто не способны увидеть.
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
				
				
			
				<div class="blue-column">
					<div class="leader-wrap">
						<div class="leader-topic">
							Лидер месяца
						</div>
						
						<div class="img-wrap leader-img">
							<img class="book-cover" src="">
						</div>
					</div>
					
					<div class="top-wrap">
						<a href=# class="top-link">Топ 100</a>
						
						<a href=# class="book-top-link">Глаза дракона</a>
						<a href=# class="book-top-link">Темная Башня. Рождение стрелка</a>
						<a href=# class="book-top-link">Оно</a>
						<a href=# class="book-top-link">Калейдоскоп ужасов</a>
						<a href=# class="book-top-link">Институт</a>
						<a href=# class="book-top-link">Человек в черном костюме</a>
						
						<div style="display:none">
							<a href=# class="book-top-link">Оно</a>
							<a href=# class="book-top-link">Оно</a>
							<a href=# class="book-top-link">Оно</a>
						</div>
						<a class="deployment" href="javascript://" onclick="">Развернуть</a>					
					</div>
					
					<div class="top-wrap authors-wrap">
						<a href=# class="top-link">Популярные Авторы</a>
						
						<a href=# class="book-top-link">Стивен Кинг</a>
						<a href=# class="book-top-link">Ю Несбё</a>
						<a href=# class="book-top-link">Дэн Браун</a>
						<a href=# class="book-top-link">Алекс Михаэлидес</a>
						<a href=# class="book-top-link">Нил Гейман</a>
						<a href=# class="book-top-link">Терри Пратчетт</a>
						
						<div style="display:none">
							<a href=# class="book-top-link">Оно</a>
							<a href=# class="book-top-link">Оно</a>
							<a href=# class="book-top-link">Оно</a>
						</div>
						<a class="deployment" href="javascript://" onclick="">Развернуть</a>					
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
