<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="static/enterPage.css">
		<link rel="stylesheet" href="static/css/font-awesome.min.css">
	</head>
	
	<body>
		{% include "headerUnregUser.html" %}
		<div class="page-body">
			<div class="wrap">
				<div class="authorization">
					Авторизация
				</div>
				
				<div class="account-enter">
					Войти используя аккаунт на сайте:
				</div>
				
				<form method="POST">
					<div class="enter-wrap">
						<div class="login-wrap input-wrap">
							<input class="login-input enter-input" type="text" id="login" name="login" placeholder="Логин" value="{{ userdata['login'] }}">
						</div>
							
						<div class="password-wrap input-wrap">
							<input class="password-input enter-input" type="password" id="pwd" name="pwd" placeholder="Пароль">
							<i class="fa fa-eye" id="toggle_pwd"></i>
						</div>
							
						<div class="enter-button-wrap input-wrap">
							<input class="enter-button" type="submit" value="Войти"></input>
						</div>
						
						<div class="link-wrap">
							<a href=# class="fogot-password">Забыли пароль?</a>
						</div>

						<div class="error-message"> {{ error_message }} </div>
						<script src="static/js/psw_toggling.js"></script>
					</div>
				</form>
				
				<div class="registration">
					У вас нет аккаунта?
					<a href=./join class="reg-transition">Зарегистрироваться</a>
				</div>
				
				<div class="account-enter">
					Войти с помощью социальных сетей или почты:
				</div>
				
				<div class="transitions">
					<button class="vk-button tran-button">				
						<img src="static/icons/Vk-logo.png" class="vk-img logo">
						<div class="log-value">
							Vk
						</div>
					</button>
									
					<button class="google-button tran-button">
						<img src="static/icons/logo-gmail1.png" class="google-img logo">
						<div class="log-value">
							Gmail
						</div>
					</button>
									
					<button class="yandex-button tran-button">
						<img src="static/icons/Yandex.png" class="yandex-img logo">
						<div class="log-value">
							Яндекс
						</div>
					</button>
				</div>
			</div>
		</div>	
	</body>
</html>
