<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="headerRegUser.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
	</head>
	
	<body>
		<header id = "header" class="header">
			<div class="wrap header-wrap">
				<div class="header-elements header-first">
					<div class="header-element-wrap">
						<div class="header-left header-name header-name-first">
							Book
						</div>
					</div>
					
					<div class="header-right">
						<form class="header-search">
							<input class="header-search-input" type="text" placeholder="Название книги, имя автора">
							<input class="header-search-button" type="submit" value="Поиск"></input>
						</form>
					
						<div class="dropdown">
							<button class="dropbtn">Моя Библиотека
								<i class="tr-icon fa fa-caret-square-o-down" aria-hidden="true"></i>
							</button>
							<div class="dropdown-content">
								<div class="content-wrap">
									<a href="#">Все книги</a>
								</div>
								<div class="content-wrap">
									<a href="#">Сейчас читаю</a>
								</div>
								<div class="content-wrap">
									<a href="#">Хочу прочитать</a>
								</div>
							</div>
						</div>
						
						<div class="icon">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						</div>
								
						<div class="header-element-wrap">
							<input class="exit-button" type="submit" value="Выйти"></input>
						</div>
					</div>
				</div>
					
					
				<div class="header-element-wrap">
					<div class="header-line"></div>
				</div>
					
					
				<div class="header-elements header-second">
					<div class="header-element-wrap header-name-second-wrap">
						<div class="header-name header-name-second">
							Verse
						</div>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>