{% set max_stars = 10 %}
{% set max_rating = 10 %}

{% extends "utils/base.html" %}
{% block title %} BookVerse {% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/home_page.css">
	<link rel="stylesheet" href="/static/css/utils/book_list.css">
	<link rel="stylesheet" href="/static/css/utils/star_rating.css">
{% endblock head %}

{% block content %}
<div class="content">
	<div class="content-central">
		<form class="search-field" action="{{ url_for('main.search') }}" method="GET">
			<input class="search-field__input" type="text" name="query" id="query" placeholder="Название книги, имя автора">
			<div class="search-field__button-box">
				<input class="search-field__button" type="submit" value="Поиск">
				<button class="search-field__button" formaction=#>Случайная книга</button>
			</div>
		</form>
		
		<div class="topic-box">
			<div class="topic-box__header-box">
				<a class="topic-box__header" href=#>Популярные Категории</a>
			</div>
			
			<div class="topic-box__content-box--genres">
				{% for genre in best_genres %}
					<a href=# class="topic-box__link--genre">{{ genre.name | replace(' / ', '/') }}</a>
				{% endfor %}
			</div>						
		</div>
		
		<div class="topic-box">
			<div class="topic-box__header-box">
				<a class="topic-box__header" href=#>Выбор Редакции</a>
			</div>
			{% with books=editors_choice %}
				{% include "utils/book_list.html" %}
			{% endwith %}
		</div>
	</div>
	

	<div class="content-right">
		<div class="topic-box-column--top">
			<div class="topic-box-column__header--top">
				Новинка месяца
			</div>
			
			<img class="topic-box-column__image--top" src="{{ book_of_month.cover_path }}">
		</div>
		
		<div class="topic-box-column">
			<a href=# class="topic-box-column__header">Топ 10</a>

			{% for book in best_books %}
				<a class="topic-box-column__link" href="{{ url_for('main.book', book_id=book.id) }}"> {{ book.name }} </a>
			{% endfor %}			
		</div>
		
		<div class="topic-box-column--authors">
			<a href=# class="topic-box-column__header">Популярные Авторы</a>
			
			{% for author in best_authors %}
				<a class="topic-box-column__link" href=#> {{ author.name }} </a>
			{% endfor %}					
		</div>
	</div>
</div>
{% endblock content %}
