{% extends "utils/base.html" %}
{% block title %} Вход {% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/auth.css">
{% endblock head %}

{% block content %}
<div class="content">
	<div class="auth-box">
		<div class="auth-box__title"> Аутентификация </div>
		<div class="auth-box__description"> Войти используя аккаунт на сайте: </div>
		
		<form class="auth-form" method="POST">
			<div class="auth-form__field">
				<input class="auth-form__input" type="text" id="login" name="login" placeholder="Логин" value="{{ old_login or '' }}">
			</div>
				
			<div class="auth-form__field--password">
				<input class="auth-form__input" type="password" id="pwd" name="pwd" placeholder="Пароль">
				<i class="auth-form__input-icon fa fa-eye" id="toggle_pwd"></i>
			</div>
				
			<div class="auth-form__field">
				<input class="auth-form__button" type="submit" value="Войти">
			</div>
			
			<div class="auth-form__field--link">
				<a href=# class="auth-form__link"> Забыли пароль? </a>
			</div>

			<div class="auth-form__error-message">{{ error_message or ''}}</div>
			<script src="/static/js/psw_toggling.js"></script>
		</form>
		
		<div class="auth-box__field--link">
			У вас нет аккаунта?
			<a href="{{ url_for('auth.join') }}" class="auth-box__link">Зарегистрироваться</a>
		</div>
		
		<div class="auth-box__title--alt">
			Войти с помощью социальных сетей или почты:
		</div>
		
		<div class="socials">
			<button class="socials__button">				
				<img src="/static/icons/vk-logo.svg" class="socials__logo">
				<div class="socials__button-description">
					Vk
				</div>
			</button>
							
			<button class="socials__button">
				<img src="/static/icons/gmail-logo.svg" class="socials__logo">
				<div class="socials__button-description">
					Gmail
				</div>
			</button>
							
			<button class="socials__button">
				<img src="/static/icons/yandex-logo.svg" class="socials__logo">
				<div class="socials__button-description">
					Яндекс
				</div>
			</button>
		</div>
	</div>
</div>	
{% endblock content %}
