{% extends "utils/base.html" %}
{% block title %} Регистрация {% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/auth.css">
{% endblock head %}

{% block content %}
<div class="content">
	<div class="auth-box">
		<div class="auth-box__title"> Регистрация </div>
		<div class="auth-box__description"> Зарегистрировать новый аккаунт: </div>
		
		<form class="auth-form" method="POST">
			<div class="auth-form__field">
				<div class="auth-form__field-name-box">
					<p class="auth-form__field-name"> Имя пользователя: </p>
				</div>
				<input class="auth-form__input" type="text" id="login" name="login" placeholder="ray_bradbury42" value="{{ old_login or '' }}" maxlength="32" required>
				<div class="auth-form__field-info">Имя пользователя должно содержать не менее<br>
                                                трёх знаков; может включать буквы латинского<br>
                                                    алфавита, цифры и нижние подчёркивания
				</div>
			</div>
			
			<div class="auth-form__field">
				<div class="auth-form__field-name-box">
					<p class="auth-form__field-name"> Почта: </p>
				</div>
				<input class="auth-form__input" type="email" id="email" name="email" placeholder="ray_bradbury42@gmail.com" value="{{ old_email or '' }}" required>
			</div>
			
			<div class="auth-form__field--password">
				<div class="auth-form__field-name-box--password">
					<p class="auth-form__field-name"> Пароль: </p>
				</div>
				<input class="auth-form__input" type="password" id="pwd" name="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}" required>
				<i class="auth-form__input-icon fa fa-eye" id="toggle_pwd"></i>
				<div class="auth-form__field-info">Пароль должен содержать не менее восьми<br> 
                                               знаков, включать строчные и заглавные буквы,<br>
                                                       цифры и специальные символы
				</div>
			</div>
			
			<div class="auth-form__field--password">
				<div class="auth-form__field-name-box--password">
					<p class="auth-form__field-name"> Подтвердите пароль: </p>
				</div>
				<input class="auth-form__input" type="password" id="pwd_rep" name="pwd_rep" required>
				<i class="auth-form__input-icon fa fa-eye" id="toggle_pwd_rep"></i>
			</div>
				
			<div class="auth-form__field">
				<input class="auth-form__button" type="submit" id="submit_btn" value="Зарегистрироваться">
			</div>

			<div class="auth-form__error-message">{{ error_message or ''}}</div>

			<script src="/static/js/psw_toggling.js"></script>
			<script src="/static/js/reg_data_checking.js"></script>
		</form>
		
		<div class="auth-box__title--alt">
			Зарегистрироваться с помощью социальных сетей или почты:
		</div>
		
		<div class="socials">
			<button class="socials__button">				
				<img src="/static/icons/vk-logo.svg" class="socials__logo">
				<div class="socials__button-description">
					Vk
				</div>
			</button>
							
			<button class="socials__button">
				<img src="/static/icons/gmail-logo.svg" class="socials__logo">
				<div class="socials__button-description">
					Gmail
				</div>
			</button>
							
			<button class="socials__button">
				<img src="/static/icons/yandex-logo.svg" class="socials__logo">
				<div class="socials__button-description">
					Яндекс
				</div>
			</button>
		</div>
	</div>
</div>
{% endblock content %}
