{% extends "utils/base.html" %}
{% block title %} Страница входа {% endblock title %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/register_page.css">
{% endblock head %}
{% block content %}
<body>
	<div class="page-body">
		<div class="wrap">
			<div class="authorization">
				Регистрация
			</div>
			
			<div class="account-enter">
				Зарегистрировать новый аккаунт:
			</div>
			
			<form method="POST">
				<div class="enter-wrap">
					<div class="field-name">
						<p> Имя пользователя: </p>
					</div>
					
					<div class="login-wrap input-wrap">
						<input class="login-input enter-input" type="text" id="login" name="login" placeholder="Имя пользователя" value="{{ old_login or '' }}" maxlength="32" required>
					</div>
					<div class="info">Имя пользователя должно содержать не менее<br>
										трёх знаков; может включать буквы латинского<br>
											алфавита, цифры и нижние подчёркивания
					</div>
					
					<div class="field-name">
						<p> Почта: </p>
					</div>
					
					<div class="email-wrap input-wrap">
						<input class="email-input enter-input" type="email" id="email" name="email" placeholder="Почта" value="{{ old_email or '' }}" required>
					</div>
					
					<div class="field-name">
						<p> Пароль: </p>
					</div>
					
					<div class="password-wrap input-wrap">
						<input class="password-input enter-input" type="password" id="pwd" name="pwd" placeholder="Пароль" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}" required>
						<i class="fa fa-eye" id="toggle_pwd"></i>
					</div>
					<div class="info">Пароль должен содержать не менее восьми<br> 
									знаков, включать строчные и заглавные буквы,<br>
											цифры и специальные символы
					</div>

					<div class="field-name">
						<p> Подтвердите пароль: </p>
					</div>
					
					<div class="password-wrap input-wrap">
						<input class="password-input enter-input" type="password" id="pwd_rep" name="pwd_rep" placeholder="Повторите пароль" required>
						<i class="fa fa-eye" id="toggle_pwd_rep"></i>
					</div>
						
					<div class="enter-button-wrap input-wrap">
						<input class="enter-button" type="submit" id="submit_btn" value="Зарегистрироваться">
					</div>

					<div class="error-message"> 
						{{ error_message or '' }} 
					</div>

					<script src="/static/js/psw_toggling.js"></script>
					<script src="/static/js/reg_data_checking.js"></script>
				</div>
			</form>
			
			<div class="account-enter">
				Зарегистрироваться с помощью социальных сетей или почты:
			</div>
			
			<div class="transitions">
				<button class="vk-button tran-button">				
					<img src="/static/icons/vk-logo.svg" class="vk-img logo">
					<div class="log-value">
						Vk
					</div>
				</button>
								
				<button class="google-button tran-button">
					<img src="/static/icons/gmail-logo.svg" class="google-img logo">
					<div class="log-value">
						Gmail
					</div>
				</button>
								
				<button class="yandex-button tran-button">
					<img src="/static/icons/yandex-logo.svg" class="yandex-img logo">
					<div class="log-value">
						Яндекс
					</div>
				</button>
			</div>
		</div>
	</div>	
</body>
{% endblock content %}
