<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/searchPage.css">
		<script src="clickOnPlus.js"></script>
	</head>
	
	<body>
		<div class="page-body">
			<div class="wrap page-container">
				<div class="main-page">
						<div class="topic-header">
							<a class="topic" href=#>Мистика</a>
						</div>
						
						<div class="boоks-topic">
							<div class="book-box">
								<div class="img-wrap">
									<img class="book-cover" src="">
								</div>
								
								<div class="inf-wrap">
									<div class="book-header">
										<a href=# class="book-link">Кладбище домашних животных</a>
										<a href=# class="book-link">Стивен Кинг</a>					
										
										<div class="stars">
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" style="width: 33.33%;"></i>
											</i>
										</div>
									</div>
									
									<div class="tags">
										<a href=# class="book-tag">#Мистика</a>
										<a href=# class="book-tag">#Триллеры</a>
										<a href=# class="book-tag">#Ужасы</a>
									</div>
									
									<div class="description">
										Казалось бы, семейство Крид – это настоящее воплощение «американской мечты»: 
										отец – преуспевающий врач, красавица мать, прелестные дети. Для полной идиллии им не
										хватает лишь большого старинного дома, куда они вскоре и переезжают.
										Но идиллия вдруг стала превращаться в кошмар. Потому что в окружающих их 
										новое жилище вековых лесах скрывается НЕЧТО более ужасное, чем сама смерть и… более могущественное.
									</div>
								</div>	
							</div>
						</div>
						
						<div class="boоks-topic">
							<div class="book-box">
								<div class="img-wrap">
									<img class="book-cover" src="">
								</div>
								
								<div class="inf-wrap">
									<div class="book-header">
										<a href=# class="book-link">Оно</a>
										<a href=# class="book-link">Стивен Кинг</a>					
										
										<div class="stars">
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" aria-hidden="true" style="width: 100%;"></i>
											</i>
											<i class="fa fa-star stars-out">
												<i class="fa fa-star stars-in" style="width: 33.33%;"></i>
											</i>
										</div>
									</div>
									
									<div class="tags">
										<a href=# class="book-tag">#Мистика</a>
										<a href=# class="book-tag">#Ужасы</a>
									</div>
									
									<div class="description">
										Волна страшных убийств захватила небольшой американский город Дерри. 
										Один за одним погибают дети, но полиция бессильна. Маньяк не оставляет следов, нет ни единой зацепки.
										Семеро одиннадцатилетних ребят решаются найти убийцу – жестокое нечто по имени Оно. 
										Каждому из них предстоит пережить встречу с чудовищем, и никто из взрослых не придет на помощь. 
										Ведь Оно – воплощение детских страхов, которое взрослые просто не способны увидеть.
									</div>
								</div>	
							</div>
						</div>
				</div>
				
				
			
				<div class="blue-column">
					<div class="genre-column">
						<div class="genre-topic">
							<a href=# class="column-topic-link">Жанры</a>
						</div>
						
						<div class="genre-scroll">
							<ul class="genre-list">
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton1" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton1" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Зарубежный детектив</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton2" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton2" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Классический детектив</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton3" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton3" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Ужасы</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton4" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton4" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Мистика</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton5" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton5" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Современный детектив</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton6" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton6" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Зарубежная классика</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton7" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton7" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Русская классика</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton8" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton8" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Фольклор</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton9" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton9" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Зарубежная фантастика</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton10" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton10" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Киберпанк</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton11" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton11" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Роман</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton12" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton12" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Приключения</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Общая психология</a>
								</li>
							</ul>
						</div>
					</div>
					
					
					
					<div class="genre-column tag-wrap">
						<div class="genre-topic">
							<a href=# class="column-topic-link">Тэги</a>
						</div>
						
						<div class="genre-scroll-tag">
							<ul class="genre-list">
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton1" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton1" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">AU</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton2" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton2" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Ангст</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton3" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton3" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Ужасы</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton4" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton4" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Повседневность</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton5" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton5" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Флафф</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton6" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton6" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Юмор</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton7" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton7" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Hurt/Comfort</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton8" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton8" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Психология</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton9" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton9" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Сверхспособности</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton10" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton10" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Киберпанк</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton11" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton11" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Романтика</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton12" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button" id="removeButton12" onClick ="changeRemoveButton(this)">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Приключения</a>
								</li>
								
								<li class="genre">
									<button class="add-remote-button" type = "button" id= "plusButton" onClick = "changePlus(this)">
										<i class="icon fa fa-plus" aria-hidden="true"></i>
									</button>
									<button class="add-remote-button">
										<i class=" icon fa fa-times-circle" aria-hidden="true"></i>
									</button>
									<a href=# class="book-top-link">Современность</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>